.mai{
    padding: 0;
    background-image: url(cool.jpg);
    background-size: cover;
    background-position:top;
    font-family: sans-serif;

    align-items: center;
    justify-content: center;
    height: 130vh;
    width: 100%;
    display: flex;

}
.m1{
    width: 350px;
    height: 200px;
    box-shadow: 0 0 40px  20px rgba(0,0,0);
}

.m2{
    position: relative;
    width: 100%;
    height: 100%;
}

.m3{
    position: absolute;
    width: 100%;
    height: 200px;
    background-position: center;
    background-image: url(mns.jpg);
   backface-visibility: visible;
}




.m3 h2{
    font-weight: normal;
    font-size:  24px; ;
    text-align: center;
    margin-bottom: 20px;
}

.ss1{
    width: 100%;
    background: transparent;
    border: 1px solid #fff;
    margin: 6px 0;
    height: 32px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color: #fff;
}
.bn54 {
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 45px;
    width: 130px;
    opacity: 1;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.6);
  }
  
  .bn54 .bn54span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.7px;
  }
  
  .bn54:hover {
    animation: bn54rotate 0.7s ease-in-out both;
  }
  
  .bn54:hover .bn54span {
    animation: bn54storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
  }
  
  @keyframes bn54rotate {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
      transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
      transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }
  
  @keyframes bn54storm {
    0% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
    25% {
      transform: translate3d(4px, 0, 0) translateZ(0);
    }
    50% {
      transform: translate3d(-3px, 0, 0) translateZ(0);
    }
    75% {
      transform: translate3d(2px, 0, 0) translateZ(0);
    }
    100% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
  }